html {
    font-size: 15px;
    font-family:  sans-serif;
    background-color: bisque; 
  }

  body {
    width: 50%;
    margin: 10px auto;
    background-color: cyan;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

h1 {
    margin: 15px;
    font-size: 60px;
    color: green;
    text-align: center;
}

.important {
    font-weight: bolder;
    color: red;
}

#prems {
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
  }